<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Golang Web</title>

  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container{
      width: 100%;
      height: 99vh;
    }
  </style>
</head>
<body>
  <marquee class="container" direction="down" behavior="alternate">
    <marquee behavior="alternate">
      <h3>Welcome to Homepage</h3>
      <p>Hello, I'm learning Golang.</p>    
    </marquee>
  </marquee>


</body>
</html>